<aside class="main-sidebar mymain-sidebar sidebar-light-primary elevation-4">
    <!-- Brand Logo -->
    <div class="myownnav">
        <a href="../../index3.html" class="brand-link logo py-4">
            <img src="https://assets.website-files.com/5f186b75b647cf7c841cecae/5f24ae572480e11d05e46dbd_webclip-farm-template.svg"
                alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: 0.8" />
            <span class="brand-text">
                <h2>AGR<span class="danger">OFLY</span></h2>
            </span>
        </a>

        <!-- Sidebar -->
        <div class="sidebar">
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                    data-accordion="false">
                    <li class="nav-item">
                        <a href="{% url 'dashboard' %}" class="nav-link mynav-link active2">
                            <span class="material-icons-sharp nav-icon"> grid_view </span>

                            <p>Dashboard</p>
                        </a>
                    </li>


                    <li class="nav-item">
                        <a href="" class="nav-link mynav-link">
            
                          <span class="material-icons-sharp">
                            pending_actions
                            </span>
                          <p>
                          Appoinment
                            <i class="right fas fa-angle-left"></i>
                          </p>
                        </a>
                        <style></style>
                        <ul class="nav nav-treeview">
                          <div class="yoo" dyu>
                            <li class="nav-item">
                              <a href="{% url 'appoint-make' %}" class="nav-link">
                                <p>Make Appoinment</p>
                              </a>
                            </li>
                            <li class="nav-item">
                              <a href="{% url 'manage-appnt3' %}" class="nav-link">
                                <p>Manage</p>
                              </a>
                            </li>
            
                          </div>
                        </ul>
                      </li>


                </ul>
            </nav>
        </div>

        <div class="log-out">
            <span class="material-icons-sharp text-light"> logout </span>
            <span class="brand-text">
                <p>Log Out</p>
            </span>
        </div>
    </div>
</aside>