{% extends 'customer/base_cust.html' %} {% block content %}
<div class="content-wrapper">
   <section class="content manage-content">
      {% include 'customer/alert_popup.html'%}
      <div class="form-group">
         <div class="col-12">
            <div class="row">
               <div class="col-md-12">
                  <div class="card card-primary sc">
                     <div class="card-header">
                        <h5>Manage Appoinment</h5>
                        <div class="card-tools d-flex">
                           <div></div>
                           <a class="add-manager"> </a>
                        </div>
                     </div>
                  </div>
                  <table class="table" id="plist">
                     <thead>
                        <tr>
                           <th>#</th>
                           <th>Appoinment Reason</th>
                           <th>Description</th>
                           <th>Date</th>
                           <th>Time</th>
                           <th>Status</th>
                           <th>Action</th>
                        </tr>
                     </thead>
                     <tbody>
                        {% for staff in appnt %}
                        <tr class="hov ">
                           <td>
                              <div class="inner-td">#{{staff.id}}</div>
                           </td>
                           <td>
                            <div class="inner-td">{{staff.reason}}</div>
                         </td>
                           <td>
                              <div class="inner-td" style="max-width: 400px;">{{staff.description}}</div>
                           </td>
                           <td>
                              <div class="inner-td">{{staff.date_to|date:"F d, Y"}}</div>
                           </td>
                           <td>
                            <div class="inner-td">{{staff.appointmentTime}}</div>
                         </td>
                           {%if staff.status%}
                           <td> <div class="inner-td"><span class="labelprimary2">Confirmed</span></div> </td>
                           {% else %}
                           <td> <div class="inner-td"><span class="labelsuccess2">Pending</span></div> </td>
                           {% endif %}
                       
                           <td>
                              <div class="manage-btn">
                                 <div class="dropdown dropleft edit-table-me">
                                    <button class="btn btn-sm btn-primary dropdown-toggle btn-manage mt-1" type="button"
                                       id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                       aria-expanded="false">
                                       <svg width="20px" height="20px" viewBox="0 0 24 24" version="1.1">
                                          <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                             <rect x="0" y="0" width="24" height="24"></rect>
                                             <circle fill="#000000" cx="5" cy="12" r="2"></circle>
                                             <circle fill="#000000" cx="12" cy="12" r="2"></circle>
                                             <circle fill="#000000" cx="19" cy="12" r="2"></circle>
                                          </g>
                                       </svg>
                                    </button>
                                    <div class="dropdown-menu " aria-labelledby="dropdownMenuButton">
                                       <a href="" class="dropdown-item" >                            <i class="fa fa-trash-o pr-2" aria-hidden="true"></i>
                                          Delete</a>
                                       <a class="dropdown-item" href="#">                            <i class="fa fa-eye pr-2" aria-hidden="true"></i>
                                          View</a>
                                    </div>
                                 </div>
                              </div>
                              {% include 'customer/delete.html'%}
                           </td>
                        </tr>
                        {% endfor %}
                     </tbody>
                  </table>
               </div>
            </div>
         </div>
      </div>
   </section>
   <script>

   </script>

   {% endblock %}
</div>